{% extends "base.html" %}
{% block content %}
<!--main-container-part-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
    <h1>FTP Manager</h1>
  </div>
  <div class="container-fluid">
    <hr>
    {% if ftp_user_not_exist or user_taken %}
    <!-- ========== FTP New User ========== -->
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>New FTP User</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="/user/ftpmanager/newuser" >
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label">FTPManager Username</label>
                <div class="controls">
                  <input type="text" name="username" required/>
                  {% if user_taken %}
                    <span class="help-inline">Username already taken, please try another one.</span>
                  {% endif %}
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                  <input type="password" name="password" required/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Confirm password</label>
                <div class="controls">
                  <input type="password" name="password2" required/>
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" value="Create FTP User" class="btn btn-success">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% if ftp_user_exist or password_error %}
    <!-- ========== FTP Login ========== -->
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Login FTP</h5>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="{% url 'dir_details' '/' %}" >
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label">FTPManager Username</label>
                <div class="controls">
                  <input type="text" name="username" value="{{ftp_user}}" readonly/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                  <input type="password" name="password" required/>
                  {% if password_error %}
                  <span class="help-inline">Password wrong, please try again.</span>
                  {% endif %}
                </div>
              </div>
              <div class="form-actions">
                <input type="submit" value="DB User" class="btn btn-success">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- ========== File Listing ========== -->
    <!-- {% if user_ftp_authenticated %} -->
    <div class="row-fluid">
      <div class="span6">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th-list"></i> </span>
          <h5>Files list: </h5>
        </div>
        <div class="widget-content ">
          <table class="table table-bordered table-striped with-check">
            <thead>
              <tr>
                <!-- <th></th> -->
                <th>Current location: {{pwd}} </th>
              </tr>
            </thead>
            <tbody>
              {% if pwd == "/" %}
                {% for path in dirs %}
                <tr>
                  <!-- <td><input type="checkbox" name="filename"/></td> -->
                  <td><span class="icon"> <i class="icon-folder-close"></i> </span><a href="{{path}}">{{ path }}</a></td>
                </tr>
                {% endfor %}
              {% else %}
              <tr>
                <!-- <td></td> -->
                <td><span class="icon"> <i class="icon-folder-open"></i> </span><a href="{{ previouspath }}">. .</a></td>
              </tr>

                {% for path in dirs %}
                <tr>
                  <!-- <td><input type="checkbox" name="filename"/></td> -->
                  <td><span class="icon"> <i class="icon-folder-close"></i> </span><a href="{{nextpath}}/{{ path }}">{{ path }}</a></td>
                </tr>
                {% endfor %}
              {% endif %}
              {% for archivo in files %}
              <tr>
                <!-- <td><input type="checkbox" name="filename"/></td> -->
                <td><span class="icon"> <i class="icon-file"></i> </span><a href="{{archivo}}">{{ archivo }}</a></td>
              </tr>
              {% endfor %}
            </tbody>

          </table>

          <div class="accordion" id="collapse-group">
            <div class="accordion-group widget-box">
              <div class="accordion-heading">
                <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-upload-alt"></i></span>
                  <h5>Upload file</h5>
                  </a> </div>
              </div>
              <div class="collapse accordion-body" id="collapseGOne">
                <div class="widget-content">
                  <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="control-group">
                      <label class="control-label">Directory :</label>
                      <div class="controls">
                        <input type="text" class="span4" name="pwd" value="{{pwd}}" readonly/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Select file :</label>
                      <div class="controls">
                        <input type="file" name="file" required/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Password :</label>
                      <div class="controls">
                        <input type="password"  class="span4" placeholder="Enter Password" name="password" required/>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success">Upload file</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-group widget-box">
              <div class="accordion-heading">
                <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-folder-close"></i></span>
                  <h5>New Directory</h5>
                  </a> </div>
              </div>
              <div class="collapse accordion-body" id="collapseGTwo">
                <div class="widget-content">
                  <form action="{% url 'mkremdir' %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="control-group">
                      <label class="control-label">Current directory :</label>
                      <div class="controls">
                        <input type="text" class="span4" name="pwd" value="{{pwd}}" readonly/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Make directory list :</label>
                      <div class="controls">
                        <input type="text" name="dirname" required/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Password :</label>
                      <div class="controls">
                        <input type="password" placeholder="Enter Password" name="password" required/>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success">Create Directory</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-group widget-box">
              <div class="accordion-heading">
                <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-remove-circle"></i></span>
                  <h5>Delete file</h5>
                  </a> </div>
              </div>
              <div class="collapse accordion-body" id="collapseGThree">
                <div class="widget-content">
                  <form action="{% url 'delete_file' %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="control-group">
                      <label class="control-label">Current directory :</label>
                      <div class="controls">
                        <input type="text" class="span4" name="pwd" value="{{pwd}}" readonly/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Password :</label>
                      <div class="controls">
                        <input type="password" placeholder="Enter Password" name="password" required/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">File list :</label>
                      <div class="controls">
                        <select name="filename">
                          {% for archivo in files %}
                          <option>{{ archivo }}</option>
                          
                          {% endfor %}

                        </select>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success">Delete selected</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>
      <div class="span6">
        <div class="widget-box ">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Información</h5>
          </div>
          <div class="widget-title">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab1">Datos de conexión</a></li>
              <li><a data-toggle="tab" href="#tab2">Cuotas</a></li>
              <li><a data-toggle="tab" href="#tab3">Límite de tamaño</a></li>
              <li><a data-toggle="tab" href="#tab4">Utilice un cliente FTP</a></li>
              <li><a data-toggle="tab" href="#tab5">Seguridad</a></li>
            </ul>
          </div>
          <div class="widget-content tab-content">
            <div id="tab1" class="tab-pane active">
              <p>Dirección ip del servidor: 172.22.200.127</p>
              <p>Usuario: {{ftp_user}}</p>
              <p>Contraseña de acceso al servidor FTP: {{prefixpassword}}******</p>
            </div>
            <div id="tab2" class="tab-pane">
              <p>Las cuentas comunes de nuestro servidor tienen una cuota de máximo 100MB de espacio. Para aumentar este límite mejore su cuenta con nuestro plan PREMIUM.</p>
            </div>
            <div id="tab3" class="tab-pane">
              <p>El tamaño máximo de subida para cada fichero es de 40MB.</p>
            </div>
            <div id="tab4" class="tab-pane">
              <p>Se recomienda usar un cliente FTP, la conexión mediante la aplicación es menos optima por cuestiones obvias.</p>
            </div>
            <div id="tab5" class="tab-pane">
              <p>Recuerde siempre finalizar la sesión cuando crea oportuno.</p>
            </div>
          </div>
        </div>
        <div class="widget-box ">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Uso actual de tu quota</h5>
          </div>
          <div class="widget-content">
            <ul class="unstyled">
              <li> <span class="icon24 icomoon-icon-arrow-up-2 green"></span>{{quota_used}}/{{quota_limit}} MB
                <div class="progress progress-striped">
                  <div class="bar" style="width: {{quota_percent}}%;">{{quota_percent}} %</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- {% endif %} -->
  </div>
</div>
<!--end-main-container-part-->
{% endblock %}
