{% extends "base.html" %}
{% block content %}
<!--main-container-part-->
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/user/dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
  {% if request.session.admin %}
  <div class="container-fluid">
  <div  class="quick-actions_homepage">
    <ul class="quick-actions">
      <li class="bg_lo span1"> <a href="/admin/appusers/"> <i class="icon-group"></i> App users </a> </li>
      <li class="bg_lg"> <a href="/admin/domains"> <i class="icon-globe"></i> Domains </a> </li>
      <li class="bg_ly span1"> <a href="/admin/ftpmanager"> <i class=" icon-folder-open"></i> FTP Manager </a> </li>

      <li class="bg_lb span1"> <a href="/admin/dbmanager"> <i class="icon-hdd"></i> DB Manager </a> </li>
      <li class="bg_ls"> <a href="/admin/stats"> <i class="icon-signal"></i> Check Statistics</a> </li>
    </ul>
  </div>
  </div>
  {% else %}
  <div  class="quick-actions_homepage">
    <ul class="quick-actions">
      <li class="bg_ly"> <a href="/user/ftpmanager"> <i class=" icon-folder-open"></i> File manager </a> </li>
      <li class="bg_lg"> <a href="/user/domains"> <i class="icon-globe"></i> Domains </a> </li>
      <li class="bg_lb"> <a href="/user/databases"> <i class="icon-hdd"></i> Databases </a> </li>
      <li class="bg_lo"> <a href="{% url 'profile' %}"> <i class="icon-group"></i> Profile </a> </li>
      <li class="bg_ls"> <a href="/user/stats"> <i class="icon-signal"></i> Check Statistics</a> </li>
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
<!--end-main-container-part-->
