<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Login Hosting</title><meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/static/css/matrix-login.css" />
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" />
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="loginbox">
      <form id="loginform" class="form-vertical" action="/" method="post">
        {% csrf_token %}
        <div class="control-group normal_text"> <h3><img src="/static/img/logo.png" alt="Logo" /></h3></div>
        <div class="control-group">
          <div class="controls">
            <div class="main_input_box">
              <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="Username" name="username" required/>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="main_input_box">
              <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Password" name="password" required/>
          <!-- {% if error %}

          {% endif %} -->
            </div>
          </div>
        </div>
        <div class="form-actions">
          <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Register now!</a></span>
          <span class="pull-right"><input type="submit" class="btn btn-success" value="Login" /></span>
        </div>
      </form>
      <form id="recoverform" action="/register" class="register-from" method="post">
        <hr>
        {% csrf_token %}
        <div class="personal_info">
          <p class="normal_text">Enter your new Domain Name.</p>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-globe"></i></span><input type="text" placeholder="Domain Name" name="domain" required/>
              </div>
          </div>
        	<p class="normal_text">Enter your personal info.</p>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-info-sign"></i></span><input type="text" placeholder="Nombre" name="givenname" required/>
              </div>
          </div>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-info-sign"></i></span><input type="text" placeholder="Apellidos" name="surname" required/>
              </div>
          </div>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" name="email" required/>
              </div>
          </div>
          <p class="normal_text">Enter your H4a Control Panel username.</p>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-user"></i></span><input type="text" placeholder="Username" name="app_user" required/>
              </div>
          </div><div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-lock"></i></span><input type="password" placeholder="Password" name="app_password" required/>
              </div>
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-lock"></i></span><input type="password" placeholder="Confirm password" name="app_password2" required/>
              </div>
          </div>

        </div>
        <div class="services_info">
        	<p class="normal_text">Enter your FTP Info .</p>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-user"></i></span><input type="text" placeholder="FTP Username" name="ftp_user" required/>
              </div>
          </div>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-lock"></i></span><input type="password" placeholder="FTP Password" name="ftp_password" required/>
              </div>
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-lock"></i></span><input type="password" placeholder="Confirm password" name="ftp_password2" required/>
              </div>
          </div>
          <p class="normal_text">Enter your PostgreSQL Info .</p>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-user"></i></span><input type="text" placeholder="DB Username" name="db_user" required/>
              </div>
          </div>
          <div class="controls">
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-lock"></i></span><input type="password" placeholder="DB Password" name="db_password" required/>
              </div>
              <div class="main_input_box">
                  <span class="add-on bg_lo"><i class="icon-lock"></i></span><input type="password" placeholder="Confirm password" name="db_password2" required/>
              </div>
          </div>
          <p class="normal_text">¿Wanna be Premium! user?</p>
          <div class="controls">
              <div class="">
                  <input type="radio" class="fl" name="premium" value="False" checked/> <label>No.</label>
                  <input type="radio" class="fl" name="premium" value="True"/> <label>Si.</label>
              </div>
          </div>
        </div>
        <hr>
        <div class="form-actions-recover">
            <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
            <span class="pull-right"><input type="submit" class="btn btn-success" value="Sing UP" /></span>
        </div>
      </form>
    </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/matrix.login.js"></script>
  </body>
</html>
